.sa-portfolio-overview {
  background: white;
  display: flex;
  flex-direction: column;
  padding: 60px 10px;
  margin-right: 100px;
  margin-left: 20px;
}

.sa-portfolio-overview-details {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}
