.container {
  box-sizing: border-box;
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  position: relative;

}

.row {
  background-color: white;
  box-sizing: border-box;
  color: rgba(0,0,0,0.87);
  display: flex;
  flex: 1;
  flex-direction: row;
  min-height: 0;
}

.column-1 {
  display: flex;
  flex-direction: column;
  flex-basis: 0%;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
  overflow-x: hidden;
}

.column-2 {
  align-items: stretch;
  background-color: rgb(38, 47, 61);
  bottom: 0;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  left: 0;
  position: relative;
  top: 0;
  transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  width: 256px;
  z-index: 12;
}