.sp-text {
  display: block;
  font-size: inherit;
}

.sp-text-inline {
  display: inline;
}

.sp-text-small {
  font-size: 8px;
}

.sp-text-medium {
  font-size: 14px;
}

.sp-text-large {
  font-size: 18px;
}