.sa-portfolio-work-item {
    position: relative;
    border-left: 1px solid #DBE6EA;
  }
  
  .sa-portfolio-work-item::before {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    border: 2px solid grey;
    border: 1px solid black;
    background-color: white;
    position: absolute;
    top: 6px;
    left: -3px;
  }
  
  .sa-portfolio-work-item-content {
    position: relative;
    padding: 0 10px 10px;
  }
  
  .sa-portfolio-work-item-company{
    color: #84CEE0;
  }
  
  .sa-portfolio-work-item-company a {
    text-decoration: none;
    color: #84CEE0;
  }
  
  .sa-portfolio-work-item-position {
    color: grey;
    font-weight: bold;
  }
  
  .sa-portfolio-work-item-period {
    color: lightgray;
  }