.sa-portfolio-contact-btn {
  display: block;
  background-image: linear-gradient(to right, #006175 0%, #00a950 100%);
  border-radius: 40px;
  color: #00A84F;
  height: 40px;
  width: 200px;
  padding: 4px;
  text-decoration: none;
  text-transform: uppercase;
}

.sa-portfolio-contact-btn:hover {
  color: #fff;
}

.sa-portfolio-contact-btn span {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 40px;
  justify-content: center;
  height: 100%;
  transition: background .2s ease;
	width: 100%;
}

.sa-portfolio-contact-btn:hover span {
  background: transparent;
}
