.sa-portfolio-container {
  margin: auto;
  padding: 15px;
  background-color: #DBE6EA;
  position: relative;
  width: auto;
}

@media only screen and (max-width : 1200px) {
 .sa-portfolio-container {
   max-width: 1195px;
 }
}

@media only screen and (max-width : 992px) {
 .sa-portfolio-container {
   max-width: 987px;
 }
}

@media only screen and (max-width : 768px) {
 .sa-portfolio-container {
   max-width: 763px;
 }
}

@media only screen and (max-width : 480px) {
 .sa-portfolio-container {
   max-width: 475px;
 }
}

@media only screen and (max-width : 320px) {
 .sa-portfolio-container {
   max-width: 319px;
 }
}
