.sp-color-gray-light {
  color: #DBE6EA;
}

.sp-color-gray {
  color: #9A9B9D;
}

.sp-color-black {
  color: #3F4548;
}

.sp-color-blue {
  color: #84CEE0;
}

.sp-color-orange {
  color: orange;
}

.sp-color-green-light {
  color: lightgreen;
}

.sp-size-small {
  font-size: 8px;
}

.sp-size-medium {
  font-size: 14px;
}

.sp-size-large {
  font-size: 18px;
}