.sa-portfolio-contact-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 60px 10px;
  margin-left: 20px;
}

.sa-portfolio-contact-details-container-item-1 {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sp-portfolio-contact-details-github {
  margin-top: 50px;
}

.sa-portfolio-contact-details-container-item-2 {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}