.sa-portfolio-contact-details-container {
  width: 25%;
  background: white;
  padding: 60px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
}

.sa-portfolio-photo {
  width: 50px;
  height: 50px;
  background: mistyrose;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  vertical-align: center;
}

.sa-portfolio-general-details {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sa-portfolio-buttons-container {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sa-portfolio-main-social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  color: #9A9B9D;
}

.sa-portfolio-github-link a,
.sa-portfolio-github-link a:link,
.sa-portfolio-github-link a:hover,
.sa-portfolio-github-link a:active,
.sa-portfolio-github-link a:focus {
  text-decoration: none;
  text-transform: none;
  color: #9A9B9D;
}

.sa-portfolio-secondary-social {
  font-size: 16px;
  color: #DBE6EA;
  padding-top: 20px;
}

@media only screen and (max-width : 768px) {
  .sa-portfolio-contact-details-container {
    width: 100%; box-sizing: border-box;
    margin-left: 0;
  }

  .sa-portfolio-general-details {
    height: auto;
  }

  .sa-portfolio-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
